body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.display {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.display input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2em;
    text-align: right;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.keys button {
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    cursor: pointer;
}

.keys button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f69906;
    color: white;
}
.operator-equal{
    background-color: #f69906;
    color: white;
    grid-column: span 2;
}